.background {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    font-family: "Berkshire Swash", cursive;

    &__header {
        width: 100%;
    }

    &__img {
        margin-top: 30px;
        width: 18vmax;
        height: 18vmax;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
    }
    &__gridConfig {
        display: flex;
        margin-top: 50px;
    }
    &__inputUrl {
        width: 25vmax;
        background: #FFFFFF;
        border: 1px solid #190241;
        box-sizing: border-box;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 60px;
        margin-right: 30px;
        border-radius: 2px;

    }
    &__inputs {
        width: 20vmax;
        margin-left: 30px;
        border: none;
        background: none;
        outline: none;
        font-size: 2vmax;
    }
    &__buttons {
        width: 3.5vmax;
        height: 3.5vmax;
        border-radius: 50%;
    }
}