.dash {
    margin-bottom: 4rem;
    font-family: "Berkshire Swash", cursive;
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;

}

.footer {
    margin-top: -10rem;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, #673ab7, #9473cb);
    font-family: "Berkshire Swash", cursive;
}

@media only screen and (min-width: 700px) {
    .dash {
        margin-top: 1rem;
    }
}