.header {
    margin-top: 5rem;
}

.scrollableTabe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    background-image: linear-gradient(to bottom, #673ab7, #9473cb);
}

// @media only screen and (min-width: 700px) {
//     .dash {
//         margin-top: 5rem;
//     }
// }

