.login {
    width: 100%;
    height: 100%;
    min-height: 100%;

    &__name {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__title {
            font-size: 2.5rem;
            color: #E0E0E0;
            font-family: 'Berkshire Swash', cursive;
        }

        img {
            width: 35%;
        }
    }


    &__img {

        width: 100%;
        height: auto;

    }

    #login__textField {
        width: 40vmax;
        padding: 0.5rem;
        margin: 0.5rem auto;
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        &__content {
            border-radius: 0.4rem;
            color: #673ab7;
            margin: 0.5rem auto;
        }
    }

    #login__link {
        color: #673ab7;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        margin: 0.24rem;

        &__decoration {
            text-decoration: none;
            color: #673ab7;
        }
    }

    &__footer {
        background-image: linear-gradient(to bottom, #673ab7, #9473cb);
    }

    
}

#brightness {
    margin: 1rem;
 }


/////////////////////////////////////////////////////////////////////////////


 .login__darkMode {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #222222;

    &__name {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            width: 40%;
        }
    }

    &__img {
        img {
            width: 100%;
            height: auto;
        }
    }

    #login__textField {
        width: 40vmax;
        padding: 0.5rem;
        margin: 0.5rem auto;
        background-color: #424242;
        color: #7471b6ff;
        border-radius: 0.5rem;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        &__content {
            border-radius: 0.4rem;
            color: #7471b6ff;
            margin: 0.5rem auto;
        }
    }

    #login__button {
        background-color: #7471b6ff;
        border-color: #7471b6ff;
        color: #e0e0e0;
        padding: 0.5rem 0rem 0.5rem 0rem;
        border-radius: 0.75rem;
        margin: 0.5rem auto;
        width: 12rem;
        font-size: 16px;

        &:hover {
            border-color: #5013bb;
            background-color: #5013bb;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px #9473cb;
            border-color: #673ab7;
            background-color: #673ab7;
        }

        &:active {
            border-color: #673ab7;
        }
    }

    #login__link {
        color: #7471b6ff;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        margin: 0.24rem;

        &__decoration {
            text-decoration: none;
            color: #7471b6ff;
        }
    }

    
}
#login__brightness {
    margin: 1rem;
 }

.login__footer {
    background-image: linear-gradient(to bottom, #673ab7, #9473cb);
}

.login__footer__dark {
    background-image: linear-gradient(to bottom, #49416D, #673ab7);
}
