.challenge {
    position: relative;
    top: 100px;

    &__card {
        margin-bottom: 2rem;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    &__logo {
        width: 3rem
    }
}

// .organizer {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     min-height: 100%;
//     width: 100%;
// }

// .header {
//     width: 100%;
// }

// .title {
//     padding-top: 10px;
//     font-size: 40px;
// }

// .emailConfirmation {
//     padding-top: 5vmax;
//     padding-bottom: 15vmax;
// }

// .challengeBox {
//     position: absolute;
//     background: oldlace;
//     border-color: #5013bb;
//     border-style: double;
//     left: 50%;
//     margin-left: -20vmax;
//     width: 40vmax;
//     height: 15vmax;
//     border-radius: 2vmax;
// }

// .challengeTitle {
//     text-align: center;
//     font-size: 4vmax;
// }

// .challengeDescription {
//     position: absolute;
//     width: 100%;
//     top: 30%;
//     text-align: center;
//     font-size: 2vmax;
// }

// .progIcon {
//     position: absolute;
//     width: 5vmax;
// }

// .container {
//     position: absolute;
//     top: 33%;
//     height: 1px;
//     width: 100%;
//     background: blue;
// }

// .typo {
//     font-size: 100%;
// }