.challenge {
    position: relative;
    top: 100px;

    &__card {
        margin-bottom: 2rem;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    &__logo {
        width: 3rem
    }

    &__button {
        width: 50%;
    }
}