.footer {
    margin: 10rem auto 0 auto;
    padding-bottom: 0.5rem;
    text-align: center;

    img {
        width: 2rem;
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }

    small {
        color: #E0E0E0;
        font-size: 12px;
    }
}