.Header {
    background-image: linear-gradient(to bottom, #673AB7 , #9473CB);
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Berkshire Swash", cursive;
    
    &__logo {
        width: 3.5rem;
        margin: 0.3rem;
    } 

    &__pageName {
        color: #E0E0E0;
        font-size: 2rem;
        font-weight: lighter;
        margin-top: 1rem;
    }
}

.Header__dark {
    background-image: linear-gradient(to bottom, #673AB7 , #49416D);
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Berkshire Swash", cursive;
    
    &__logo {
        width: 5rem;
        margin: 0.3rem;
    } 

    &__pageName {
        color: #E0E0E0;
        font-size: 2rem;
        font-weight: lighter;
        margin-top: 1rem;
    }
}
