.welcome {
    background-image: linear-gradient(to bottom, #e0e0e0, #cb8ee9, #673ab7, #673ab7, #cb8ee9);

    &__header {
        display: flex;
        align-items: center;
        font-family: "Berkshire Swash", cursive;

        &__logo {
            width: 6rem;   
        }
    }

    .header__title {
        font-size: 70px;
        color: #5013bb;  
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 35px;
    }

    
    .buttons {
        text-align: center;
        padding-top: 1rem;
    }
    
    &__intro {
        padding: 0 0 2rem 0;
        
        img {
            width: 100%;
            height: auto;
        }
        
        h2 {
            color: #E0E0E0;
            font-size: 35px;
        }
       
    }

    &__text {
        color: #E0E0E0;
    }
    
    #brightness {
        margin-top: 1rem;
    }
}



/////////////////////////////////////////////////////////////////////////////


.welcome__dark {
    background-color: #222222;

    &__header {
        display: flex;
        align-items: center;
        font-family: "Berkshire Swash", cursive;

        &__logo {
            width: 6rem;   
        }

        
    }

    .header__title {
        font-size: 70px;
        color: #7471b6ff;  
    }

    h1 {
        font-size: 35px;
        color: #E0E0E0;
    }

    h2 {
        font-size: 35px;
    }

    
    .buttons {
        text-align: center;
        padding-top: 1rem;
        
    &__intro {
        padding: 0 0 2rem 0;
        color: #E0E0E0;
        
        img {
            width: 100%;
            height: auto;
        }
        
        h2 {
            color: #E0E0E0;
            font-size: 35px;
        }

    }

    &__text {
        color: #E0E0E0;
    }

}

    #brightness {
        margin-top: 1rem;
    }

}