.floatMenu {

    &__list {

        
        div {
            background: transparent;
            box-shadow: none;
        }

        ul {
            display: flex;
            flex-direction: column;
        }
    
        svg {
            border-radius: 1rem;
            background-color: #673AB7;
            color: #FEFEFE;
            font-size: 30px;
        }

    }
}