.Login {
    background-image: linear-gradient(to bottom, #7389bd, #c4c4c4);

    &__img {
        width: 100%;
        height: auto;
    }
    
    &__form {
    padding: 5rem;

       
       
    }

    .btn {
        background-color: #7389bd;
    }
    
}

