.dash {
    font-family: "Berkshire Swash", cursive;
    width: 100%;
    display: flex;
    background: linear-gradient(
        180deg,
        #7471b6 10%,
        rgba(7, 150, 206, 0.5) 45.33%,
        rgba(144, 0, 121, 0.1) 60%,
        rgba(224, 224, 224, 0.64) 100%
    );

   
}
