.signUp {
    background-image: linear-gradient(to bottom, #7389bd, #c4c4c4);
    font-family: "Berkshire Swash", cursive;

    .container {
        margin-bottom: -5rem;
        width: 100%;
    }

    #signUp__introduction {
        margin: 0.5rem auto;
        text-align: center;
        color: #e0e0e0;
        font-family: "Yatra One", cursive;
        margin-top: 2rem;
    }

    &__image {
        align-items: center;
        justify-content: center;

        img {
            height: 14rem;
            width: auto;
            margin-bottom: -2rem;
            margin-top: -2rem;
        }
    }

    #signUp__textField {
        width: 60vmax;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        color: #673ab7;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        &__content {
            width: 60vmax;
            color: #673ab7;
            border-radius: 0.4rem;
            margin-right: 0.7rem;
            font-family: "Yatra One", cursive;
        }

        #signUp__TextFieldContent2 {
            color: #673ab7;
            font-family: "Yatra One", cursive;

            label {
                color: #673ab7;
            }
        }
    }

    .signUp__button {
        background-color: #673ab7;
        border-color: #673ab7;
        border-radius: 0.5rem;
        width: 12rem;
        margin-top: 1.5rem;
    }

    #login__link {
        color: #673ab7;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        margin-top: 0.7rem;

        &__decoration {
            text-decoration: none;
            color: #673ab7;
        }
    }

    #signUp__footer {
        background-image: linear-gradient(to bottom, #673ab7, #9473cb);
    }
}
