.SignUp__Page {
    background-image: linear-gradient(to bottom, #7389bd, #c4c4c4);
}

.SignUp__TextBar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    .SignUp__TextBarText {
        color: #ffffff;
    }
}

.SignUp__MainContainer {
    background-image: linear-gradient(to bottom, #7389bd, #c4c4c4);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;

    .SignUp__TextField {
        width: 40vmax;
        padding: 0.5rem;
        margin: 0.5rem auto;
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        .SignUp__TextFieldContent {
            border-radius: 0.4rem;
            background-color: #ffffff;

            #SignUp__TextFieldContent {
                color: #673ab7;
                margin: 0.5rem auto;
            }
        }
    }
    .button__register {
        background-color: #673ab7;
        border-color: #673ab7;
        border-radius: 0.5rem;
        width: 12rem;
        margin: 0.5rem auto;
    }
}

.SignUp__Image {
    align-items: center;
    justify-content: center;
    margin-bottom: -3rem;

    img {
        height: 14rem;
        width: auto;
    }
}

.SignUp__TopCol {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-image: linear-gradient(to bottom, #9473cb, #673ab7);
}

#SignUp__TextFieldContent2 {
    color: purple;

    label {
        color: purple;
    }
}
