.SignUp__Page {
    background-image: linear-gradient(to bottom, #7389bd, #c4c4c4);
    font-family: "Berkshire Swash", cursive;

    .SignUp__TextBar {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        .SignUp__TextBarText {
            color: #ffffff;
        }
    }

    .SignUp__TextField {
        width: 60vmax;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        color: #673ab7;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        #SignUp__TextFieldContent {
            width: 60vmax;
            color: #673ab7;
            border-radius: 0.4rem;
            margin-right: 0.7rem;
            font-family: "Yatra One", cursive;
        }
    }

    .SignUp__Button {
        background-color: #673ab7;
        border-color: #673ab7;
        border-radius: 0.5rem;
        width: 12rem;
        margin: 0.5rem auto;
    }

    .SignUp__Image {
        align-items: center;
        justify-content: center;
        margin-bottom: -3rem;
        margin-top: -3rem;

        img {
            height: 14rem;
            width: auto;
        }
    }

  
    #SignUp__TextFieldContent2 {
        color: #673ab7;
        font-family: "Yatra One", cursive;

        label {
            color: #673ab7;
        }
    }

    .SignUp__Introduction {
        margin: 0.5rem auto;
        text-align: center;
        color: #e0e0e0;
        font-family: "Yatra One", cursive;
    }

    #SignUp__footer {
        
        background-image: linear-gradient(to bottom, #673ab7, #9473cb);
    }

   .teste{
       margin-bottom: -5rem;
       width:100%;
   }
}
